/* Base styles */
body {
  display: flex;
  min-height: 100vh;
  background: url("../items/affiche 02.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.listliks {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9999;
  top: 25%;
  right: 10px;
}

.listliks li {
  flex: 0 0 auto;
  margin-bottom: 5px;
  list-style: none;
  width: 50%;
}

.listliks li a {
  display: block;
}

.listliks li a img {
  height: auto;
}

/* Responsive styles */
@media (max-width: 1024px) {
  body {
    background: url("../items/affiche0.jpg") no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .listliks {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
  }

  .listliks li {
    width: 70%; /* Smaller button size */
    margin-bottom: 10px; /* Space between buttons */
  }

  .listliks li a {
    width: 100%;
    text-align: center;
  }

  .listliks li a img {
    height: 80px; /* Smaller button size */
    width: auto;
  }
}

@media (max-width: 768px) {
  .listliks {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
  }

  .listliks li {
    width: 100%; /* Smaller button size */
    margin-bottom: 10px; /* Space between buttons */
  }

  .listliks li a {
    width: 100%;
    text-align: center;
  }

  .listliks li a img {
    height: 80px; /* Smaller button size */
    width: auto;
  }
}

@media (max-width: 480px) {
  .listliks {
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    left: 40%;
  }

  .listliks li {
    width: 100%; /* Smaller button size */
    margin-bottom: 10px; /* Space between buttons */
  }

  .listliks li a {
    width: 100%;
    text-align: center;
  }

  .listliks li a img {
    height: 80px; /* Smaller button size */
    width: auto;
  }
}

/* Fixed button style */
.fixed-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 10px; 
}

.fixed-button:hover {
  background-color: transparent;
}

/* Base styles */
.btnPoster {
  width: 40%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: auto; /* Center the element */
}

/* Styles for small screens */
@media (max-width: 480px) {
  .btnPoster {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    margin: auto; /* Center the element */
  }
}
